
<div class="container">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">username</span>
    </div>
    <input type="text" class="form-control"
    [(ngModel)]="userName">
    
  </div>

</div>
<div class="container">
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" src="https://i5.walmartimages.com/asr/78ff8e5b-5570-4eb2-8ca0-422e4a64d51e.a392ad46e96f707de61a5547318e70d1.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<br>

<div>
  <h4>extra options</h4>
  <div class="form-check">
    <input class="form-check-input"
     type="checkbox"
      id="isWireless"
      [(ngModel)]="extraOptions.isWireless">
    <label class="form-check-label" for="isWireless">
      wireless
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input"
     type="checkbox"
    id="hasWarranty" 
    [(ngModel)]="extraOptions.hasWarranty">
    <label class="form-check-label" for="hasWarranty">
      warranty
    </label>
  </div>
  <br>
  <h4>shipping method</h4>
  <div class="form-check">
    <input class="form-check-input"
     type="radio"
      name="express"
       id="express"
       value="express"
       [(ngModel)]="shippingMethod">
    <label class="form-check-label" for="express">
express    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input"
     type="radio"
      name="standard"
       id="standard" 
       value="standard"
       [(ngModel)]="shippingMethod">
    <label class="form-check-label" for="standard">
standard    </label>
  </div>
  <button class="btn btn-primary" (click)="getInfo()">check out</button>
</div>
<h1>
  some bold text
</h1>

</div>
